.productDetail{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 0.1px solid rgb(199, 194, 194);
    max-width: 80%;
    height: 76vh;
    margin: 25px;
    border-radius: 4px;
}

.productDetail__left{
    max-width: 70%;
    margin-left: 5px;
    border-right:1px solid rgb(219, 216, 216);
    margin-right: 5px;
    padding-right: 8px;
}

.productDetail_title_category{
    display: flex;
    align-items: center;
    justify-content: center;
}

.productDetail__border{
    border-bottom: 1px solid rgb(180, 177, 177);
    padding: 5px;
    margin-top: 28px;
}

.productDetail__Image{
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    margin-bottom: 15px;
    margin-top: 15px;
}

.productDetail__title{
    font-weight: 700;
    margin: 20px;
    font-size: 1.5em;
}

.productDetail__rating{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    padding: 8px;
}

.productDetail__price{
    font-weight: 700;
    padding: 8px;
    margin: 8px;
}

.productDetail_bottom{
    font-weight: 50;
    display: flex;
    padding: 3px;
    margin: 30px;
    justify-content: space-between;
    text-align: end;
}

.productDetail_Button{
    display: flex;
    align-items: center;
    justify-content: center;
}



.productDetail_bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

button{
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(26, 93, 182);
    border-radius: 10px;
    margin-top: 10px;
}

button:hover{
    background-color: rgb(55, 91, 139); 
}

